<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="chats" connectionString="Data Source=DESKTOP-44MOR4B\SQLExpress;Initial Catalog=Chats;Integrated Security=True;TrustServerCertificate=true;"/>
  </connectionStrings>
  <appSettings>
    <add key="guildchatterurl" value="https://discord.com/api/webhooks/1057861786684104745/AxhYWSOVhe1aPpS8t2-DofKITWj_VnMirX8u4Sw0Kg1Y_SUDdPU-CsP3sKB2wVbTvh4K"/>
    <add key="officerchatterUrl" value="https://discord.com/api/webhooks/1058771920595722301/eGHYouWWU3kKvcgbJnoeZvkMwbHBXTpJpKdq0CwLGvmW_s-3e6ZA9O8M9LU1I-7_9O40" />
    <add key="esochatlog" value="C:\Users\gbaks\OneDrive\Documents\Elder Scrolls Online\live\Logs\ChatLog.log"/>
    <add key="tempfile" value="C:\temp\esochatlog.txt"/>
    <add key="guildchatnumbers" value="12,13,14,15,16"/>
    <add key="officerchatnumbers" value="17,18,19,20,21"/>
    <add key="messagelastreaddatetime" value="2022-12-28T18:30:29.604"/>
  </appSettings>
</configuration>